.contact-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    height: auto;
    padding: 150px 0px;
}

.contact-list{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    word-spacing: 2px;
    position: relative;
    top: -45px;
}
.social-icon-main{
    margin-left: 15px;
}
.contact-list-connect{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    word-spacing: 2px;
}
.social-media{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.contact-list-all{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
    word-spacing: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.contact-list-main{
    position: relative;
    top: -1px;
}
.contact-talk{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: -100px;
}
.contact-input{
    width: 400px;
    height: 40px;
    border: none;
    /* border-radius: 5px; */
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: large;
    padding-left: 5px;
    border-radius: 2px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.contact-icons{
    color: #000000;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}
.contact-inputs{
    width: 400px;
    height: 150px;
    border: none;
    margin-top: 2px;
    font-size:large;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 2px;
}
input:focus{
    border:none;
    outline: none;
}
textarea:focus{
    border:none;
    outline: none;
}
textarea{
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 200;
    overflow-y: scroll;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.contact-button{
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background-color: #00b3b3;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 2px;
}
.contact-button:hover{
    background-color:#009999;
    cursor: pointer;
}
.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-icon{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-right: 5px;
    padding: 5px;
}
.tooltip{
    visibility: hidden;
    font-size: medium;
    width: 120px;
    background-color:black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: relative;
    z-index: 1;
    top: 40px;
    left: 10px;
    margin-left: -60px;
    transition-delay: 200ms;
  }
.social-icon:hover .tooltip{
    visibility: visible;
}
.contact-list-all:hover{
    cursor: pointer;
    color: #fff;
    background-color:rgb(48, 48, 48);
}
.social-icon:hover{
    color: rgb(133, 133, 133);
}
.message{
    font-size: 21px;
    font-weight: 100;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}
.contact-list{
    font-family: 'Rubik', sans-serif; 
}
.contact-margin-item{
    padding: 50px 150px;
}
@media(max-Width:1350px){
    .contact-flex{
        justify-content: center;
        gap: 200px;
    }
}