.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 80px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.web-logo{
  width: 58px;
  height: 55px;
 
}
.sidebar-btn {
  font-size: 25px;
  transition: 100ms;
  padding-right: 4.8rem;
}
.name {
  font-size: 20px;
  padding-left: 4rem;
  font-family: 'Fasthand';
  display: flex;
  align-items:center ;
  gap: 5px;
}
.Saurabh-M{
  font-family: 'Fasthand';
}
.logo{
  h2{
    margin: 0px;
  }
}
@media (max-width: 1120px) {
  .name {
    font-size: 30px;
    padding-left: 10px;
  }
  .links {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 640px) {
  .menu-link-12{
    visibility: hidden;
  }
}
@media (max-width: 640px) {
  .name {
    font-size: 25px;
    padding-left: 10px;
  }
  .sidebar-btn {
    font-size: 25px;
    position: absolute;
    right: 50px;
  }
}
@media (max-width: 430px) {
  .name {
    font-size: 22px;
    padding-left: 10px;
  }
  .sidebar-btn {
    font-size: 25px;
    visibility: visible;
  }
  .menu-link-12 {
    visibility: hidden;
  }
}
.sidebar-btn:hover {
  cursor: pointer;
}

.links {
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
.current-comp{
  list-style-type: none;
  color:  rgba(0, 137, 121, 0.923);
  font-size: 18px;
  text-align: center;
  font-weight:500;
  /* border-bottom: 1px solid rgba(0, 137, 121, 0.923); */
  transition: 100ms;
  text-decoration: underline;
}
.menu-link-12 {
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.links:hover {
  cursor: pointer;
}
