.projects-margin-item {
  height: auto;
  padding: 0px 150px;
}
.cards {
  width: 450px;
  height: auto;
  transition: 900ms;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media(max-Width:1260px){
  .project-flexx{
      justify-content: center !important;
  }
}
@media (max-width: 600px) {
  .project-links {
    font-size: 12px;
  }
  .project-info {
    font-size: 12px;
    text-align: center;
  }
  .project-tech1,
  .project-tech2 {
    font-size: 12px;
  }
  .project-flexx {
    display: flex;
    flex-direction: column;
  }
}
.project-flexx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0px;
  gap: 100px;
}
.project-dp {
  width: 450px;
  height: 255px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}
.project-flex-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.project-title {
  display: flex;
  justify-content: center;
  font-size: x-large;
  transition: 300ms;
}
.project-links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  padding: 5px;
  background-color: rgb(226, 226, 226);
}
.project-info {
  display: flex;
  justify-content: center;
  text-align: center;
}
.project-tech {
  display: flex;
  justify-content: center;
  font-size: small;
  position: relative;
  top: -8px;
}
.project-credentials-span {
  font-weight: bold;
}
.project-all {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 0px;
}
.project-credentials {
  text-align: left;
}
.cards:hover {
  transform: scale(1.1);
}
.credentials {
  font-weight: 500;
}
