.projects-margin-item{
    height: auto;
}
.cards{
    width: 500px;
    height: 400px;
    margin-bottom: 160px;
}
@media(max-width:1600px){
    .cards{
        width: 400px;
        height: 300px;
    }
}
@media(max-width:600px){
    .cards{
        width: 300px;
        height: 200px;
    }
    .project-links{
        font-size: 12px;
    }
    .project-info{
        font-size: 12px;
        text-align: center;
    }
    .project-tech1,.project-tech2{
        font-size: 12px;
    }
}
.project-flexx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 120px;
}
.project-dp{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.project-flex-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.project-title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color:rgb(160, 87, 255);
}
.project-links{
    text-decoration: none;
    color: white;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    padding: 5px;
}
.project-info{
    display: flex;
    justify-content: center;
}
.project-tech{
    display: flex;
    justify-content: center;
    font-size: small;
    position: relative;
    top: -8px;
}
.project-tech1{
    color:  #41c9ff;
}
.project-tech2{
    color: gold;
}
.project-all{
    background-color: black;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}