.li{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    width: 80px;
    gap: 12px;
    font-size: 18px;
    color: rgb(101, 101, 101);
    transition: 200ms;
    font-weight: 300;
    font-family: 'Rubik';
}
.menu-link-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    gap: 40px;
}
.menu-link{
    width: 180px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    /* border-left: px solid  rgb(139, 139, 139); */
}
@media(max-width:430px){
    .menu-link{
        height: 100vh;
        margin-top: -10px;
    }
}
.menu-link-1{
    padding-top: 140px;
}
.sidebar-main{
    transition:1000ms;
}
.li:hover{
    cursor: pointer;
    color: black;
}