.skills-margin-item {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .skills-margin-item {
    height: auto;
  }
}
@media (max-width: 430px) {
  .skills-icons {
    width: 150px;
    height: 40px;
  }
}
/* @media (max-width: 600px) {
  
} */
.flexx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 150px 0px 150px 0px;
  margin: 0px;
}
.skills-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 10px;
  transition: 900ms;
  padding: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.image-icons {
  width: 90px;
  height: 90px;
  padding: 10px;
}
.skills-icons:hover {
  transform: scale(1.1);
}
#skills{
  padding: 0px 150px;
}