.flexx{
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}
body{
  background-color:#232323;
  color:#ffffff;
  font-family: sans-serif;
  margin: 0px;
  width: 100%;
}
.flex-item{
  display: flex;
  flex-direction: row;
}
.sidebar{
  position: fixed;
  display: flex;
  right: 0px;
  top: 85px;
  transition: all 1s ease;
}
