.flexx{
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px;
}
body{
  background-color: #f2f2f2;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  width: 100%;
  overflow: auto;  
}
.flex-item{
  display: flex;
  flex-direction: row;
}
.sidebar{
  position: fixed;
  display: flex;
  right: 0px;
  top: 80px;
  transition: all 1s ease;
}
::-webkit-scrollbar {
  display: none;
}

